
.containerCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}
.wrapperCategory {
    margin: 5px;
    min-width: 350px;
    height: 550px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(249, 253, 253);
    padding-bottom: 20px;
}
.info {
    width: 350px;
    height: 200px;
    padding: 10px;
    text-align: start;
}

.titleCategory {
    height: 160px;
}
h4 {
    font-size: 20px;
    color: #333333;
    text-align: center;
}