/* .container-item {
    flex: 1;
   justify-content: space-between;
   text-align: center;
    margin: 3px;
    height: 100vh;
    width: 500px;
    position: relative;
   
}

.buttonC {
    
    padding: 15px;
    border: 2px solid rgb(29, 90, 90);
    background-color: white;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background-color: #f8f4f4;
    }
}

.containerCategory {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    
    
}

.imageCategory {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(14, 13, 13);
    margin-bottom: 20px;
    border: none;
    padding: 10px 60px;
    background-color: rgb(221, 39, 39);
    color: gray;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;

}

.button {
    border: none;
    padding: 10px;
    background-color: white;
    color: gray;
    cursor: pointer;
    font-weight: 600;
    padding-bottom: 20px;
}
.wrapperCategory{
 
} 


 */
.containerCategory{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
.wrapperCategory{
    margin: 5px;
    min-width: 350px;
    height: 550px;
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    background-color: rgb(249, 253, 253);
   
    
}
.info{
    width: 380px;
    height: 200px;
    padding: 10px;
}
h4{
    font-size: 20px;
color: #333333;
}